# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# test coverage
coverage/

# os / editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/
